/* Reset */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Antic+Didone&family=Bona+Nova:ital,wght@0,400;0,700;1,400&family=Libre+Caslon+Display&display=swap');

/* Utility */
.container {
    margin: auto;
    max-width: 1100px;
    padding: 0 20px;
    overflow: auto;
}

.primary-text {
    color: #F1B542;
}

.lead-copy {
    font-size: 20px;
    font-family: 'Antic Didone', 'serif';
}

#current {
    background: rgb(122, 122, 122);
    color: #F1B542;
}

.btn {
    display: inline-block;
    font: 18px 'Bona Nova', serif;
    color: #FFFDF2;
    background: #542400;
    padding: 14px;
}

.btn:hover {
    background: #F1B542;
    color: #542400;
}

.btn-light {
    background: #DFDDD7;
    color: #fff;
}

.bg-light {
    background: #f2f2f2;
    color: #333;
}

.bg-primary {
    background: #F1B542;
    color: #f2f2f2;
}

.bg-dark {
    background: #333;
    color: #fff;
}

.clr {
    clear: both;
}

.l-heading {
    font-size: 40px; 
}

/* Main Styling */
html,body {
    font-family: 'Antic Didone', serif;
    font-family: 'Bona Nova', serif;
    font-family: 'Libre Caslon Display', serif;
    line-height: 2rem;
}

a {
    color: #542400;
    text-decoration: none;
}

h1, h2, h3 {
    padding-bottom: 20px;
}

p {
    margin: 10px 0;
}

/* Navbar */
#navbar {
    background: #FFFDF2;
    color: #542400;
    overflow: auto;
}

#navbar a {
    color: #542400;
    cursor: pointer;
}

#navbar h1 {
    float: left;
    padding-top: 20px;
}

#navbar ul {
    float: right;
    list-style: none;
}

.main-nav_item {
    float: right;
}

.main-nav_item a {
    display: block;
    padding: 20px;
    text-align: center;
}

#navbar .main-nav_item a:hover,
#navbar .main-nav_item a:active {
    background: #542400;
    color: #F1B542;
}

/* Showcase */
#showcase {
    background: url('./Images/hotel-01.jpg') left 0% bottom 40%/cover;
    width: 100vw;
    height: 70vh;
}

.showcase-content {
    color: #FFFDF2;
    text-align: center;
    padding-top: 160px;
}

.showcase-content h1 {
    font: 64px/1.2rem 'Libre Caslon Display', serif;
}

/* Home Info */
#home-info {
    height: 400px;
}

#home-info .info-img {
    width: 50%;
    float: left;
    background: url('./Images/showcase-image.jpg') left 0% bottom 30%/cover no-repeat;
    min-height: 100%;
}

#home-info .info-content {
    float: right;
    width: 50%;
    min-height: 100%;
    text-align: center;
    padding: 50px 30px;
    overflow: hidden;
}

#home-info .info-content p {
    padding-bottom: 20px;
    font-family: 'Antic Didone', 'serif';
}

/* Features List */
.box {
    float: left;
    width: 33.3%;
    padding: 50px;
    text-align: center;
}

.box i {
    margin-bottom: 12px;
}

#features p {
    font-family: 'Antic Didone', 'serif';
}

/* About-info */
.about-info .info-right {
    float: right;
    width: 50%;
    min-height: 100%;
    padding: 20px 0;
}

.about-info .info-right img {
    display: block;
    margin: auto;
    width: 70%;
    border-radius: 20px;
}

.about-info .info-left {
    float: left;
    width: 50%;
    min-height: 100%;
    padding: 20px 0;
}

.about-info .info-left p {
    font-family: 'Antic Didone', 'serif';
    font-size: 18px;
}

/* Testimonials */
#testimonials {
    height: 600px;
    padding-top: 40px;
    background: url(./Images/testimonials-background-02.jpg) no-repeat left 0% bottom 60%/cover;
    background-size: cover;
}

#testimonials h2 {
    text-align: center;
    padding-bottom: 40px;
    color: #f2f2f2;
}

#testimonials .testimonial {
    padding: 40px 20px;
    margin-bottom: 20px;
    border-radius: 6px;
}

#testimonials .testimonial img {
    display: block;
    margin-right: 20px;
    height: 100px;
    width: 90px;
    border-radius: 50%;
    float: left;
}


/* Footer */
.main-footer {
    text-align: center;
    background: #333;
    color: #f2f2f2;
    padding: 20px;
}