.nav-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* #navbar .logo {
    text-align: center;
}  */

/*#navbar ul, #navbar ul li {
    float: none;
}  */

.main-nav-items {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-nav-item a {
    padding: 5px;
    border-bottom: #828282 solid 1px;
}

/* Home info */
#home-info .info-img {
    display: none;
}

#home-info .info-content {
    float: none;
    width: 100%;
    padding-bottom: 10px;
}

#home-info .info-content p {
    padding-bottom: 10px;
}

/* Boxes */
.features-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.box {
    display: flex;
    width: 100%;
}

/* About */
.about-info .info-right,
.about-info .info-left {
    float: none;
    width: 100%;
}

.about-info .info-right {
    margin-top: 30px;
}

.l-heading {
    text-align: center;
}

/* Contact */
#contact-info .box {
    border-bottom: #828282 solid 1px;
}

#contact-info .box:last-child {
    border-bottom: none;
}